@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}

* {
    padding:0;
    margin:0;
}

html, body {
    height: 100vh;
}

:root {
    --primary-color: white;
    --secondary-color: rgb(66, 66, 66);
    --additional-color: #bb86fc;
    --dark-color: #121212;
}

body {
    background-color: var(--dark-color);
    overflow: hidden;
    -ms-user-select: none;
    user-select: none;
}

.header {
    width: 100%;
    padding: 15px;
    background-color: #1b1b1b;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h2 {
    color: var(--primary-color);
    font-family: "Roboto";
}

span, label {
    color: white;
    font-family: "Roboto";
    font-size: 14px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.column {
    height: calc(100vh - 100px);
    margin: 15px;
    width: 100%;
}

.column-left {
    position: relative;
}

.list {
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 0px 15px 15px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction:rtl;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.column-add {
    background-image: url("/media/add.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    transform-origin: center;
    position: absolute;
    border: none;
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    top: calc(100% - 35px);
    left: calc(100% - 35px);
    cursor: pointer;
    transition: transform 0.2s ease-out;
    box-shadow: 0px 0px 9px -1px #000000;
}

.column-add:active {
    box-shadow: 0px 0px 4px -1px #000000;
    width: 47px;
    height: 47px;
}

.column-add:hover {
    transform: rotate(180deg);
}

.list::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
.list::-webkit-scrollbar-track {
    background: #3a3a3a;        /* color of the tracking area */
}
.list::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;    /* color of the scroll thumb */
}

.list-element {
    direction:ltr;
    padding: 20px;
    transition: background-color 0.2s ease-out;
    text-align: right;
    color: var(--additional-color);
    font-family: "Roboto";
}

.list-element:hover {
    background-color: #373737;
    cursor: pointer;
}

.selected-element {
    background-color: #111111;
    z-index: 5;
    box-shadow: 0px 0px 9px -1px #000000;
}

#play-btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: var(--primary-color);
    background: var(--secondary-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-family: "Roboto";
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #000000;
}

.glow-effect {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#play-btn::after {
    content: "";
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.setting {
    padding: 20px 0px;
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sorts {
    margin-bottom: auto;
}

.primary-btn {
    padding: 8px;
    border: none;
    background-color: var(--additional-color);
    color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 1px #000000;
    font-family: "Roboto";
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 5px 0px;
}

.primary-btn:hover {
    background-color: #7a00ff;
}

.primary-btn:active {
    transform:scale(0.95);
}

.context {
    position: absolute;
    width: 200px;
    background-color: #3a3a3a;
    box-shadow: 0px 0px 2px 0px #000000;
    top:0px;
    left:0px;
    border-radius: 5px;
    padding: 5px 0px;
}

.context-button {
    width: 100%;
    background-color: #3a3a3a;
    border: none;
    cursor: pointer;
    height: 40px;
    color: white;
    font-family: "Roboto";
    border-radius: 5px;
}

.context-button:hover {
    background-color: #414141;
}